<html>
<head><title>El Bodeguero 2.0</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
</head>
<body>
<table>
  <tr>
      <td><img src="../img/logo.jpg" class="logo"/></td>
      <td><div id="logo"><img src="../img/El_Bodeguero.jpg" class="banner" /></div></td>
    <td><form name="form1" method="post" action="?opcion=ingresar">
      <div id="cerrarSesion">
      <table>
        <tr>
          <td>Bienvenido, Administrador</td>
        </tr>
        <tr>
          <td><a href="salir.php">Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
      </div>
    </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><table>
      <tr>
        <td><a href="?opcion=principal"><img src="../img/botones/Inicio1.png"></a></td>
        <td><a href="?opcion=nosotros"><img src="../img/botones/Nosotros.png"></a></td>
        <td><a href="?opcion=catalogo"><img src="../img/botones/Catalogo.png"></a></td>
        <td><a href="?opcion=novedades"><img src="../img/botones/Novedades.png"></a></td>
        <td><a href="?opcion=contactenos"><img src="../img/botones/contactenos.png"></a></td>
      </tr>
    </table>
    <br />
    <br />
    </td>
  </tr>
</table>
    <div id="main">
		<h1>Resumen de su Carrito</h1>
		<p>Su carrito su contiene 5 productos<p>
			
                <table class="carrito">
			<tr>
				<th>Producto</th>
				<th>Precio Unitario</th>
				<th>Cantidad</th>
				<th>Total</th>
				<th>Acci&oacute;n</th>
			</tr>
			<tr>
				 <td>Leche Gloria</td>
				 <td>S/ 4.50</td>
				 <td><input type="text" name="txt_cantidad" maxlength="2" value="2" class="fieldCarrito"></td>
				 <td>S/ 9.00</td>
				 <td><img src="../img/eliminar.jpg"></td>   
		   </tr>
		   <tr>
				 <td>Leche Ideal</td>
				 <td>S/ 4.00</td>
				 <td><input type="text" name="txt_cantidad" maxlength="2" value="1" class="fieldCarrito"></td>
				 <td>S/ 4.00</td>
				 <td><img src="../img/eliminar.jpg"></td>   
		   </tr>
		   <tr>
				 <td>Gaseosa Coca-Cola</td>
				 <td>S/ 5.50</td>
				 <td><input type="text" name="txt_cantidad" maxlength="2" value="1" class="fieldCarrito"></td>
				 <td>S/ 5.50</td>
				 <td><img src="../img/eliminar.jpg"></td>   
		   </tr>
		   <tr>
				 <td>Gaseosa Inka-Cola</td>
				 <td>S/ 5.50</td>
				 <td><input type="text" name="txt_cantidad" maxlength="2" value="1" class="fieldCarrito"></td>
				 <td>S/ 5.50</td>
				 <td><img src="../img/eliminar.jpg"></td>   
		   </tr>
		   <tr>
			   <td colspan="2">&nbsp;</td>
			   <td>Total: </td>
			   <td>S/ 24.00</td>
			   <td>&nbsp;</td>
		   </tr>
		   <tr>
			   <td colspan="2"><a href="?opcion=catalogo"><< Volver al cat&aacute;logo</a></td>
			   <td colspan="2"><a href="?opcion=Catalogo">Enviar orden de compra >></a></td>
		   </tr>
		</table>			
    </div>
</body>
</html>

