<html>
<head><title>El Bodeguero 2.0</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>
<table width="1024">
  <tr>
      <td><img src="../img/logo.jpg" class="logo" /></td>
      <td><div id="logo"><img src="../img/El_Bodeguero.jpg" class="banner" /></div></td>
    <td><form name="fallo" method="post" action="">
      <table>
        <tr>
          <td>&nbsp;</td>
          <td>Iniciar Sesi&oacute;n</td>
          </tr>
        <tr>
          <td>Usuario</td>
          <td><input type="text" name="usuario"/></td>
          </tr>
        <tr>
          <td>Contrase&ntilde;a</td>
          <td><input type="password" name="contrasenha"/></td>
          </tr>
        <tr>
          <td><input type="submit" name="ingresar" value="Ingresar"/></td>
          <td><a href="?opcion=oContra">Olvidaste tu contrase&ntilde;a?</a></td>
          </tr>
        <tr>
          <td>&nbsp;</td>
          <td><a href="?opcion=registrar">Registrarse</a></td>
          </tr>
        </table>
    </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><table >
      <tr>
        <td><a href="?opcion=principal"><img src="../img/botones/Inicio1.png"/></a></td>
        <td><a href="?opcion=nosotros"><img src="../img/botones/Nosotros.png"/></a></td>
        <td><a href="?opcion=catalogo"><img src="../img/botones/Catalogo.png"/></a></td>
        <td><a href="?opcion=novedades"><img src="../img/botones/Novedades.png"/></a></td>
        <td><a href="?opcion=contactenos"><img src="../img/botones/contactenos.png"/></a></td>
      </tr>
    </table>
    <br />
    <br />
    </td>
  </tr>
</table>
    <div id="adminMain">
  <div id="catalogoFallo">
        <p>Para ingresar a esta secci&oacute;n, por favor iniciar sesi&oacute;n.<br/>
            Ingrese su usuario y contrase&ntilde;a en la parte superior de la p&aacute;gina</p>
            
        <p>Si no tiene cuenta, registrese <a href="?opcion=registrar">aqu&iacute;</a> </p>
    </div>
    </div>
</body>
</html>

