<html>
<head><title>El Bodeguero 2.0</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
</head>
<body>
<table>
  <tr>
      <td><img src="../img/logo.jpg" class="logo"/></td>
      <td><div id="logo"><img src="../img/El_Bodeguero.jpg" class="banner"/></div></td>
    <td><form name="detPedido" method="post" action="?opcion=salir">
      <div id="cerrarSesion">
      <table>
        <tr>
          <td>Bienvenido, Administrador</td>
        </tr>
        <tr>
          <td><a href="salir.php">Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
      </div>
    </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><table width="100%" border="0" >
      <tr>
        <td><a href="?opcion=principalA"><img src="../img/botones/Inicio2.png"></a></td>
        <td><a href="?opcion=clientes"><img src="../img/botones/Clientes.png"></a></td>
        <td><a href="?opcion=producto"><img src="../img/botones/Productos.png"></a></td>
        <td><a href="?opcion=proveedores"><img src="../img/botones/Proveedores.png"></a></td>
        <td><a href="?opcion=historial"><img src="../img/botones/Historial.png"></a></td>
        <td><a href="?opcion=mensajess"><img src="../img/botones/Mensajes.png"></a></td>
      </tr>
    </table>
    <br />
    <br />
    </td>
  </tr>
</table>
<div id="AdminMain">
<div id="adminContent">
        <h1>Detalle Pedido</h1>
        <div id="scrollProveedores">        
            <table class="tablaProveedores">
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>0001</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0002</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0003</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0004</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0006</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0007</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0008</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0009</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0010</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0011</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0012</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0013</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td>0014</td>
                <td>Lorem Ipsum</td>
                <td>XX</a></td>
                <td>XX.XX</td>
                <td>XX.XX</td>
            </tr>
            <tr>
                <td  class="alinearDerecha">Total&nbsp;&nbsp;</td>
                <td>S/. XXX.XX</td>
            </tr>
            </table>
        </div>
        <a href="proveedores.html" class="margRegresar">Regresar</a>
    </div>
</div>
</body>
</html>



        