<html>
<head><title>El Bodeguero 2.0</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
</head>
<body>
<table>
  <tr>
      <td><img src="../img/logo.jpg" class="logo"/></td>
      <td><div id="logo"><img src="../img/El_Bodeguero.jpg" class="banner"/></div></td>
    <td><form name="detalleProv" method="post" action="?opcion=salir">
      <div id="cerrarSesion">
      <table>
        <tr>
          <td>Bienvenido, Administrador</td>
        </tr>
        <tr>
          <td><a href="salir.php">Cerrar Sesi&oacute;n</a></td>
        </tr>
      </table>
      </div>
    </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><table>
      <tr>
        <td><a href="?opcion=principalA"><img src="../img/botones/Inicio2.png"></a></td>
        <td><a href="?opcion=clientes"><img src="../img/botones/Clientes.png"></a></td>
        <td><a href="?opcion=producto"><img src="../img/botones/Productos.png"></a></td>
        <td><a href="?opcion=proveedores"><img src="../img/botones/Proveedores.png"></a></td>
        <td><a href="?opcion=historial"><img src="../img/botones/Historial.png"></a></td>
        <td><a href="?opcion=mensajes"><img src="../img/botones/Mensajes.png"></a></td>
      </tr>
    </table>
    <br />
    <br />
    </td>
  </tr>
</table>
<div id="AdminMain">
  <div id="adminContent">
        <div id="cabeceraProveedores">
            <p>Proveedores</p>
        </div>
        <div id="detalleProv">
            <h2>Proveedor 1 S.A.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               In euismod sollicitudin hendrerit.
            </p>
            <p> Productos:</p>
            <p>Quisque fringilla commodo ultricies. I
               n hac habitasse platea dictumst. 
               Cras faucibus, risus non semper sollicitudin, dolor leo mattis nulla, 
               quis viverra augue risus quis sapien. Donec risus enim, cursus sed aliquam nec.
            </p>            
        </div>        
        <a href="?opcion=proveedores" class="margRegresar2">Regresar</a>
    </div>   
</div>
</body>
</html>



        