<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
<head><title>El Bodeguero 2.0::Historial</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
</head>
<body>
<table>
  <tr>
      <td><img src="../img/logo.jpg" class="logo"/></td>
      <td><div id="logo"><img src="../img/El_Bodeguero.jpg" class="banner"/></div></td>
    <td>
        <form name="historial" method="post" action="?opcion=salir">
            <div id="cerrarSesion">
                <table>
                    <tr>
                      <td>Bienvenido, Administrador</td>
                    </tr>
                    <tr>
                      <td><a href="salir.php">Cerrar Sesi&oacute;n</a></td>
                    </tr>
                </table>
            </div>
        </form>        
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6">
        <table>
         <tr>
        <td><a href="?opcion=principalA"><img src="../img/botones/Inicio2.png"></a></td>
        <td><a href="?opcion=clientes"><img src="../img/botones/Clientes.png"></a></td>
        <td><a href="?opcion=producto"><img src="../img/botones/Productos.png"></a></td>
        <td><a href="?opcion=proveedores"><img src="../img/botones/Proveedores.png"></a></td>
        <td><a href="?opcion=historial"><img src="../img/botones/Historial.png"></a></td>
        <td><a href="?opcion=mensajes"><img src="../img/botones/Mensajes.png"></a></td>
      </tr>
        </table>
    <br />
    <br />
    </td>
  </tr>
  <tr>
      <td colspan="6">
          <table>
              <tr>
                  <td>&nbsp;</td>
                  <td rowspan="3">
                      <img src="../img/imagenBarra_pChart.png?<?php echo filemtime('../img/imagenBarra_pChart.png') ?>">
                  </td>
              </tr>
              <tr>
                  <td>
                      <form method="post" action="">
                          <table border="0" align="right">
                              <tr>
                                  <td><input type="radio" name="buscarBarra" value="semana" checked>Semanal</td>
                                  <td rowspan="2"><input type="submit" name="buscarImagen" value="Cargar Busquedad"></td>
                              </tr>
                              <tr>
                                  <td><input type="radio" name="buscarBarra" value="mes">Mensual</td>
                              </tr>
                          </table>
                      </form>
                  </td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
              </tr>
          </table>
      </td>
  </tr>

</table>
</body>
</html>